.timer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #fff;
    font-family: 'Bungee', sans-serif;
    font-size: 1.5rem;
    background: #2d655d;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }